<table [cellSpacing]="0">
    <thead>
      <th>Ação</th>
      <th>Módulo</th>
      <th>Data Contrato</th>
      <th>Data Vencimento</th>
      <th>Situação</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <button class="fab"><fa-icon [icon]="faEditar"></fa-icon></button>
          <button class="fab">
            <fa-icon [icon]="faDesativar"></fa-icon>
          </button>
        </td>
        <td>AquaHub Residencial I</td>
        <td>10/05/2024</td>
        <td>10/05/2028</td>
        <td><span class="situacao ok">Regular Ativo</span></td>
      </tr>
    </tbody>
  </table>