/* You can add global styles to this file, and also import other style files */

@import url('assets/styles/theme.scss');
@import url('assets/styles/fonts.scss');

@import url('assets/styles/text.scss');
@import url('assets/styles/cta.scss');

//Resetando os padrões do HTML e setando tamanho padrão da página
body,html{
    padding:0;
    margin:0;
    width:100vw;
    height:100%;
    background-color: var(--bg-color-default);
    color:var(--font-color-default)
}

h1,h2,p{
    padding:0;
    margin:0;
}
