
.cta-primario{
    padding:10px 15px 10px 15px;
    font-size: 1em;
    font-family: var(--font-face-default);
    background-color: var(--secundary-color-500);
    border:0;
    border-radius: 5px;
    color:var(--font-color-default);
    &:active:enabled{
        background-color: var(--secundary-color-700);
        transform: scale(0.95);
        cursor: pointer;
    }
    &:hover{
        background-color: var(--secundary-color-600);
        cursor: pointer;
    }
    &:disabled{
        background-color:var(--grey-color-500);
        cursor: default;
    }
}

.cta-tertiary{
    width:60%;
    border:0;
    background-color: var(--grey-color-400);
    padding:10px;
    border-radius: 5px;
    color:var(--font-color-default);
    fa-icon{
        padding:0 10px 0 0;
    }
    &:hover{
        background-color: var(--grey-color-500);
    }
    &:active{
        background-color: var(--grey-color-600);
        transform: scale(0.95);
    }

}

.cta-form{
    padding:10px 15px 10px 15px;
    font-size: 0.8em;
    font-family: var(--font-face-default);
    border:0;
    border-radius: 5px;
    &:active:enabled{
        background-color: var(--secundary-color-700);
        transform: scale(0.95);
        cursor: pointer;
    }
    &:hover{
        background-color: var(--secundary-color-600);
        cursor: pointer;
    }
    &:disabled{
        background-color:var(--grey-color-500);
        cursor: default;
    }
}

a{
    color:var(--secundary-color-600);
    text-decoration: none;
    font-size: 0.8em;
    font-family: var(--font-face-default);
    &:hover{
        color:var(--secundary-color-700);
    }
}

.fab{
    width:40px;
    height:40px;
    border-radius: 50%;
    border:0;
    background-color: var(--grey-color-200);
    color:var(--font-color-default);
    &:hover{
        background-color: var(--grey-color-300);
        cursor: pointer;
    }
    &:active{
        background-color: var(--grey-color-400);
        cursor: pointer;
    }
}
