
.cta-primario{
    padding:10px 15px 10px 15px;
    font-size: 1em;
    font-family: var(--font-face-default);
    background-color: var(--secundary-color-500);
    border:0;
    border-radius: 5px;
    color:var(--font-color-default);
    &:active:enabled{
        background-color: var(--secundary-color-700);
        transform: scale(0.95);
        cursor: pointer;
    }
    &:hover{
        background-color: var(--secundary-color-600);
        cursor: pointer;
    }
    &:disabled{
        background-color:var(--grey-color-500);
        cursor: default;
    }
}