:root{
    /*
    Apresenta variáveis para todos os elementos base.

    Utilizar nos componentes com: var(--nome-da-variavel);

    Esses estilos são usados todos por padrão, alguns são sobrescritos quando o tema dark está ativo
    Compare com o bloco abaixo :root.dark para ver quais valores são alterados.
    
    */

    // Cor de fundo padrão
    --bg-color-default:#F3F3F3;
    --bg-color-overlap:#F0F0F0;

    //RGBA padrões para fundo
    --bg-color-overlay-rgba: rgba(100,100,100,0.5);
    --bg-color-overlap-rgba: rgba(230,230,230,0.5);


    // Cores de fonte
    --font-color-default:#333333;
    --font-color-title:#222222;
    --font-color-discrete:#555555;


    // Colorido

    //Graduação das cores primárias
    --primary-color-100:#FFECEA;
    --primary-color-200:#FFD5D0;
    --primary-color-300:#FFBBB4;
    --primary-color-400:#FF9F96;
    --primary-color-500:#FF7F72;
    --primary-color-600:#E66C60;
    --primary-color-700:#CC594F;
    --primary-color-800:#B2473E;
    --primary-color-900:#99362F;

    //Graduação das cores secundárias
    --secundary-color-100:#E7F8ED;
    --secundary-color-200:#C3EDD5;
    --secundary-color-300:#9FE2BD;
    --secundary-color-400:#7BD7A5;
    --secundary-color-500:#28C76F;
    --secundary-color-600:#20B060;
    --secundary-color-700:#189951;
    --secundary-color-800:#107F42;
    --secundary-color-900:#085F31;

    //Graduação de escala de cinza
    --grey-color-100:#f9f9f9;
    --grey-color-200:#ececec;
    --grey-color-300:#dcdcdc;
    --grey-color-400:#c4c4c4;
    --grey-color-500:#a9a9a9;
    --grey-color-600:#8e8e8e;
    --grey-color-700:#6e6e6e;
    --grey-color-800:#4e4e4e;
    --grey-color-900:#333333;

    //Estilos de fonte
    --font-face-title:montserrat;
    --font-face-default:poppins-regular;
    --font-face-discrete:poppins-light;

}

:root.dark{
    //A classe Dark é colocada no root do DOM para sobrescrever as variáveis
    //do tema

    //Cores de fundo
    --bg-color-default:#333333;
    --bg-color-overlap:#222222;

    //RGBA padrões para fundo
    --bg-color-overlay-rgba: rgba(0,0,0,0.2);
    --bg-color-overlap-rgba: rgba(30,30,30,0.5);

    //Cor da fonte
    --font-color-default:#FAFAFA;

    //No tema escuro a escala é inversa
    --grey-color-900:#e2e2e2;
    --grey-color-800:#c2c2c2;
    --grey-color-700:#9c9c9c;
    --grey-color-600:#7c7c7c;
    --grey-color-500:#5c5c5c;
    --grey-color-400:#4c4c4c;
    --grey-color-300:#3c3c3c;
    --grey-color-200:#2c2c2c;
    --grey-color-100:#1C1C1C;

    //Cor padrão para branco e preto
    --white:#FAFAFA;
    --black:#1C1C1C;
}