<section
 class="navigation-bar"
 [ngClass]="{'closed':estado_nav=='fechado','opened':estado_nav=='aberto','default':estado_nav=='inicial'}"
 >
    
    <header>
        <div class="logo-wrapper">
            <app-logo></app-logo>
        </div>
        <button class="toggler" (click)="toggle()"><fa-icon [icon]="faToggler"></fa-icon></button>
    </header>
    <nav>
        <a *ngFor="let item of dashboards" [routerLink]="item.rota"><fa-icon [icon]="item.icone"></fa-icon><span>{{item.nome}}</span></a>
        <hr>
        <details *ngFor="let item of pagesMenu">
            <summary (click)="toggle(true)"><fa-icon [icon]="item.icone"></fa-icon><span>{{item.nome}}</span></summary>
            <div>
                <a *ngFor="let submenu of item.submenu" [routerLink]="submenu.rota"><fa-icon [icon]="submenu.icone"></fa-icon>{{submenu.nome}}</a>
            </div>
        </details>
    </nav>
    <section class="profile">
        <div class="img">
            <button><fa-icon [icon]="faConfig"></fa-icon></button>
        </div>
        <article>
            <p>Sávio Zoboli</p>
            <strong>Rua Birmânia, 175</strong>
            
        </article>
    </section>
    
</section>
